@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
}
#conatiner {
  background-image: url("./12.svg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1{
    font-size: 30px;
    color: white;
}
#dropdown-list {
  animation: growDown 300ms ease-in-out forwards;
}

@keyframes growDown {
  0% {
    transform: scaleY(0);
  }
  80% {
    transform: scaleY(1.1);
  }
  100% {
    transform: scaleY(1);
  }
}

#dropdown2-list {
  animation: rotateMenu 400ms ease-in-out forwards;
  transform-origin: top center;
}

@keyframes rotateMenu {
  0% {
    transform: rotateX(-90deg);
  }
  70% {
    transform: rotateX(20deg);
  }
  100% {
    transform: rotateX(0deg);
  }
}

#dropdown3-list {
  animation: rotateY 300ms ease-in-out forwards;
  transform-origin: top center;
}
@keyframes rotateY {
  0% {
    transform: rotateY(90deg);
  }
  80% {
    transform: rotateY(-10deg);
  }
  100% {
    transform: rotateY(0);
  }
}
